/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

body {
  font-family: "Rubik", sans-serif !important;
  overflow-x: hidden !important;
}

/* Menu list */

/* .menu_listOpen {
  opacity: 1;
  visibility: visible;
  transition: all 3s;
  top: 20% !important;
}

.menu_listClose {
  opacity: 0;
  visibility: hidden;
} */
