@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Rubik", sans-serif !important;
    overflow-x: hidden !important;
  }
}

@layer components {
  .bef::before {
    content: "";
    display: block;
    position: absolute;
    bottom: 0%;
    left: 30%;
    background-color: #fa5959;
    width: 0%;
    height: 4px;
    transition: width 0.5s linear;
  }

  .bef:hover::before {
    width: 40%;
  }
}
